.chat-outer{
    display: flex;
    width: 100%;
    padding: 0 5%;
    
}
.chat-contact{
    overflow-y:scroll;
    border-radius: 10px;
    margin: 2%;
    flex: 1;
    z-index: 1;
    box-shadow: 0 2px 10px -2px rgba(0,0,0,.2);
}
.search{
    display: flex;
}
.search input{
    cursor:text;
    border-radius:0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: aliceblue;
    outline: none;
    border: none;
    padding: 0
}
.search button{
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
    height: 6vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: aliceblue;
    outline: none;
    border: none;
    
}
.contact{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   background-color: #936cbe3f;
   color: #fff;
   text-align: center;
   top: 0;
   margin: 0;
   padding: 2% 0;
   box-shadow: 0 2px 10px -2px rgba(0,0,0,.2);
   
}
.chat-text{
    margin: 2%;
    flex: 3;
    z-index: 1;
    box-shadow: 0 2px 10px -2px rgba(0,0,0,.2);
}
.searched-contacts{
    height: fit-content;
    overflow-y:scroll;
    overflow-x:hidden;
    background-color: rgb(207, 226, 242);
    box-shadow: 0 2px 10px -2px rgba(0,0,0,.2);
    border-radius: 10px;
    padding: 2% 0;
}
.List-btn{

background:transparent;
margin:2px 0;
border-radius:5px;
padding:2%;
display:flex;
align-items:center;
justify-content:center;

}
.List-btn button{
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}
@media(max-width:950px){
    .chat-contact{
        flex:1;
    }
    .chat-text{
        flex:1.5;
    }
}
@media(max-width:600px){
.contact-res{
    display: none;
}
.text-res{
    display: none;
}
}