
.side-wrap{
    background-color:#F0E2FF;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
   
}
.side-icons{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icons-links{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}
.icons-links:visited{
    color: inherit;
}
.side-icons label{
    cursor: pointer;
    font-size: medium;
}