.dash-body{
    height: 92.5vh;
    display: flex;
}
.dash-sidebar{
    flex:1.5;
    z-index: 2;
    box-shadow: 0 2px 10px -2px rgba(0,0,0,.2);
}
.dash-content{
    display: flex;
    z-index: 0;
    background-color: #fff;
    flex:20;
    overflow: hidden;

}
.response-btn{
    display: none;
    position: absolute;
    z-index: 3;
    height: 100vh;
}
.dash-header{
    z-index: 4;
    position: relative;
}

@media(max-width:768px){
    .dash-body{
        flex-direction:row;
    }
    .dash-sidebar{
        flex: 0;
        display: flex;
        z-index: 3;
        position: absolute;
        height: 92vh;
        box-shadow: none;
    }
    .response-btn{
        display: block;
        position: absolute;
        z-index: 4;
    }
    
    .side{
        display: none;
    }
    .res-1{
        position: relative;
    }
}
.res{
    display: none;
}